{% extends "partials/base.html.twig" %}
{% set current_route = app.request.attributes.get('_route') %}

{% block partial_content %}
<header class="da-navbar" role="banner">
    <div class="da-container flex items-center h-16 gap-6">

    </div>
</header>
{% endblock %}
