{% extends "mail/base.html.twig" %}

{% block title %}
    Réinitialisation de votre mot de passe
{% endblock %}

{% block cta_url %}{{ url('app_reset_password', {token: resetToken.token}) }}{% endblock %}
{% block cta_label %}Réinitialiser mon mot de passe{% endblock %}

{% block content %}
    <p>
        Vous avez demandé la réinitialisation de votre mot de passe.
        Cliquez sur le lien ci-dessous pour procéder.
    </p>
    <p>
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
{% endblock %}

{% block footer %}
    <p>
        Si vous n'êtes pas à l'origine de cette demande, ignorez cet e-mail.
    </p>
{% endblock %}
